*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px #cfcbbf;
    position: sticky;
}

.header .header_logo{
    display: flex;
    align-items: center;
}

.header_logo img{
    width: 65px;
}

.header .header_perfil{
    display: flex;
    align-items: center;
}

.headerProfile{
    width: 50px;
    border-radius: 50%;
    border: white solid 2px;
}

.perfil_hilo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.header .header_search input{
    width: 400px;
    height: 50px;
    background-color: #E8EDDF;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#profileMore{
    margin-left: -3px;
    margin-top: 10px;
    width: 20px;
}

#profileIcon{
    position: relative;
    cursor: pointer;
}


#profileMenu{
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-start;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    width: 8vw;
    height: 5em;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
    margin-left: -25px;
    margin-top: 5px;
}

#profileMenu span{
   display:block;
   width:100%;/*or whatever width you want the effect of <hr>*/
   border-top: 1px solid #ccc;
}


.nuevoHilo{
    text-align: right;
}
#postIcon{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 5px;
}

