:root {
    --text: #333533;
    --contrast-text: #808080;
    --light-background: #cfdbd5;
    --input-background: #E8EDDF;
    --btn: #F5CB5C;
    --btn-hover: #F9E19F;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}

body{
    margin: 0;
    width: 100%;
}


header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px #cfcbbf;
    position: sticky;
}

h1 {
    color: var(--text);
    margin-left: 10px;
}

@media only screen and (max-width: 420px){
    h1 {
        font-size: 0;
    }
}

#logoContainer {
    margin-right: 30%;
}

.header .header_logo{
    display: flex;
    align-items: center;
}

.header_logo img{
    width: 65px;
}

.header_logo {
    text-decoration: none;
}

.header .header_perfil{
    display: flex;
    align-items: center;
}

.headerProfile{
    width: 50px;
    border-radius: 50%;
    border: white solid 2px;
}

.perfil_hilo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

@media only screen and (max-width: 420px){
    .perfil_hilo{
        width: 40%;
        justify-content: space-between;
    }
}



.header_search input{
    width: 400px;
    height: 50px;
    background-color: var(--input-background);
    border: none;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 20px;
    font-weight: 500;
    color: var(--contrast-text);

}

#searchIcon{
    margin-left: 0.5%;
    margin-top: 0.5%;
}

#searchButton {
    color:transparent;
}

#searchButton{
    display: none;
}

@media only screen and (max-width: 768px) {
    .header_search input{
        display: none;
    }

    #searchButton {
        display: block;
        background-color: var(--input-background);
    }
}

#profileMore{
    margin-left: -3px;
    margin-top: 10px;
}

@media only screen and (max-width: 420px){
    #profileMore{
        display: none
    }
}

#profileIcon{
    position: relative;
    cursor: pointer;
}


#profileMenu{
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-start;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    width: 8vw;
    height: 5em;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
    margin-left: -25px;
    margin-top: 5px;
}

#profileMenu a {
    color: var(--text);
    text-decoration: none;
}

#profileMenu a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    #profileMenu{
        width: 10vw;
    }
}

@media only screen and (max-width: 420px){
    #profileMenu{
        width: 30vw;
        right: 0%;
    }
}




#profileMenu span{
   display:block;
   width:100%;/*or whatever width you want the effect of <hr>*/
   border-top: 1px solid #ccc;
}


.nuevoHilo{
    text-align: right;
}
.icon {
    height: 40px;
    position: absolute;
    padding: 10px;
    margin-top: 1%;
    margin-left: 1%;
}

#postIcon{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 5px;
}


@media only screen and (max-width: 768px) {
    #postIcon{
        margin-left:2%;
    }
}


.button {
    background-color: var(--btn);
    width: 10vw;
    height: 3em;
    border: none;
    border-radius: 1em;
    font-weight: 600;
    color: var(--text);
    cursor: pointer;
}

.button:hover {
    background-color: var(--btn-hover);
}

@media only screen and (max-width: 768px) {
    .header .button {
    color: transparent;
}
}

@media only screen and (max-width: 420px){
    .button {
        width: 16vw
    }
}

