*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body .container{
    width: 100%;
}
.header{
    width: 100%;
    height: 110px;
    padding: 10px 15px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_cont{
    max-width: 275px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
}
.header_cont h1{
    display: inline;
}
.header .is{
    display: none;
}

.header .reg{
    display: none;
}
.header #reg:hover{
    background-color: #F5CB5C;
}
.header #is:hover{
    background-color: #F5CB5C;
}
.btn{
    border: 1px solid #F9E19F;
    background-color: #F9E19F;
    color: #ffffff;
    text-align: center;
    margin-right: 60px;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    width: 175px;
}
/* diseño de los formularios */
main{
    width: 100%;
}
main .registro{
    display: none;
}
main .login{
    display: none;
}

.caja{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.cont_form .title_log{
    margin-top: 20px;
    margin-bottom: 35px;
}
.cont_form .title_reg{
    margin-top: 10px;
    margin-bottom: 20px;
}
.title h4{
    font-size: 16px;
}
.title h2{
    font-size: 32px;
}
.caja .cont_form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.caja .log{
    padding: 0px 50px;
    margin-left: 25px;
}
.caja .reg{
    padding-left: 130px;
    margin-left: 25px;
}
form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
form input{
    width: 295px;
    height: 45px;
    padding-left: 31px;
    border-radius: 5px;
    background-color: #E8EDDF;
    border: none;
    border-style: none;
}
form .inp_log{
    margin-bottom: 35px;
}

form .inp_reg{
    margin-bottom: 15px;
}
form a{
    /* position: absolute; */
    color:#F5CB5C ;
    text-decoration: none;
    right: 0;
    top: 8rem;
}
form .form_te{
    position: absolute;
    top: 8rem;
}
form .form_et{
   margin-top: 2rem;
}
form button{
    width: 171px;
    height: 45px;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: #F5CB5C;
}
form .btn_log{
    margin-top: 41px;
}
form .btn_reg{
    margin-top: 7px;
    margin-bottom: 31px;
}
form .img_group img{
    width: 20px;
}
form .img_group{
    position:absolute;
    left: 0.5rem;
}
form .img_log_email{
    top: 0.9rem;
}
form .img_log_pass{
    top: 5.7rem;
}
form .img_reg_name{
    top: 0.7rem;
}
form .img_reg_email{
    top: 4.7rem;
}
form .img_reg_pass{
    top: 8.3rem;
}
form .img_reg_vitxt{
    left: 16.5rem;
    top: 8.4rem;
}
form .img_reg_vipass{
    left: 16.5rem;
    top: 8.3rem;
}

form .img_log_vitxt{
    left: 16rem;
    top: 5.8rem;
}
form .img_log_vipass{
    left: 16rem;
    top: 5.7rem;
}

form .pass{
    display: none;
}
form .txt{
   display: none;
}
form .img_reg_pass1{
    top: 12rem;
}
.caja .cont_img{
    width: 50%;
    position: relative;
}
.cont_img img{
    position: absolute;
}
.cont_img .img_one{
    width:587px;
    left: -40px;
}
.cont_img .img_two{
    width: 586px;
    left: 45px;
}
