h2 {
    text-align: center;
}

#categoryContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 70%;
    margin: 2% auto;
}

#categoryContainer a{
    text-decoration: none;
}

.category svg {
    display: block;
    margin: 3% auto;
    width: 80%;
    height: 80%;
}

.category{
    width: 250px;
    height: 250px;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: 0 0 10px #cfcbbf;
    margin-bottom: 10%;
}


.category h3{
    text-align: center;
    margin: 0;
    height: 20%;
    color: var(--text)
}